title: Nyeees-Blog
description: "Hacking blog"
author:
  name: "Nyeees"
  email: "email@gmail.com"
  url: "https://nyeees.github.io"

baseurl: /

source: .
destination: ./_site
permalink: /:title
paginate: 3
paginate_path: /page/:num/

defaults:
  -
    scope:
      path: ""
      type: "posts"
    values:
      layout: "post"

future: true
plugins:
  - jekyll-seo-tag
  - jekyll-paginate
  - jekyll-sitemap

# Custom variables
owner : "Nyeees"
year : "2022"
