<a href="{{ "/archive" | prepend: site.baseurl | replace: '//', '/' }}"><h2 class="header-link">Archive</h2></a>
<a href="{{ "/about" | prepend: site.baseurl | replace: '//', '/' }}"><h2 class="header-link">About</h2></a>
<a href="{{ "/atom.xml" | prepend: site.baseurl | replace: '//', '/' }}"><h2 class="header-link">RSS</h2></a>
    <form id="search-form">
      <input type="search" placeholder="search"></input>
      <div class="query-error"></div>
      <div class="controls">
        <button type="submit">Search</button>
        <button type="reset">Reset</button>
      </div>
    </form>
