<a href="{{ "/archive" | prepend: site.baseurl | replace: '//', '/' }}"><h2 class="header-link">Archiwum</h2></a>
<a href="{{ "/about" | prepend: site.baseurl | replace: '//', '/' }}"><h2 class="header-link">O kole</h2></a>
<a href="{{ "/search" | prepend: site.baseurl | replace: '//', '/' }}"><h2 class="header-link">Szukajka</h2></a>
<a href="https://zglaszamsie.tk/"><h2 class="header-link">Zgłaszam sie</h2></a>
<a href="{{ "/compendium" | prepend: site.baseurl | replace: '//', '/' }}"><h2 class="header-link">Kompendium wiedzy</h2></a>
<a href="{{ "/solutions" | prepend: site.baseurl | replace: '//', '/' }}"><h2 class="header-link">Nasze rozwiązania CTF</h2></a>
<a href="{{ "/atom.xml" | prepend: site.baseurl | replace: '//', '/' }}"><h2 class="header-link">RSS</h2></a>

