{% assign author = page.author | default: page.authors[0] | default: site.author %}
{% assign author = site.data.authors[author] | default: author %}
<div>
      {% if author.links %}
        {% for link in author.links %}
          {% if link.label and link.url %}
            <a align="center" href="{{ link.url }}" rel="nofollow noopener noreferrer"><i class="{{ link.icon | default: 'fas fa-link' }}" aria-hidden="true"></i><span class="label">{{ link.label }}</span></a>
          {% endif %}
        {% endfor %}
      {% endif %}
</div>
