<!DOCTYPE html>
<html>
{% include head.html %}

<body>
  <div id="wrapper">
    {% include header.html %}
    <div class="container">
      <section id="main_content">
        {{ content }}
      </section>
    </div>
  </div>

  {% if paginator.total_pages > 1 %}
  <div class="pagination">
    {% if paginator.previous_page == 1 %}
    <a href="{{ '/' | prepend: site.baseurl | replace: '//', '/' }}" class="page-item">&laquo;</a>
    {% elsif paginator.previous_page%}
    <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}" class="page-item">&laquo;</a>
    {% else %}
    <span class="page-item">&laquo;</span>
    {% endif %} {% for page in (1..paginator.total_pages) %} {% if page == paginator.page %}
    <span class="page-item">{{ page }}</span>
    {% elsif page == 1 %}
    <a href="{{ '/' | prepend: site.baseurl | replace: '//', '/' }}" class="page-item">{{ page }}</a>
    {% else %}
    <a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}" class="page-item">{{ page }}</a>
    {% endif %} {% endfor %} {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}" class="page-item">&raquo;</a>
    {% else %}
    <span class="page-item">&raquo;</span>
    {% endif %}
  </div>
  {% endif %} {% include footer.html %}

  {% if site.google_analytics %}
    {% include analytics.html %}
  {% endif %}
  
  <!-- The core Firebase JS SDK is always required and must be listed first -->
<script src="https://www.gstatic.com/firebasejs/7.6.1/firebase-app.js"></script>

<!-- TODO: Add SDKs for Firebase products that you want to use
     https://firebase.google.com/docs/web/setup#available-libraries -->
<script src="https://www.gstatic.com/firebasejs/7.6.1/firebase-analytics.js"></script>

<script>
  // Your web app's Firebase configuration
  var firebaseConfig = {
    apiKey: "AIzaSyAS3uJqiwC1POt3-JSO7d82pVqBBL-zbgM",
    authDomain: "amanajayvarma-b5ff2.firebaseapp.com",
    databaseURL: "https://amanajayvarma-b5ff2.firebaseio.com",
    projectId: "amanajayvarma-b5ff2",
    storageBucket: "amanajayvarma-b5ff2.appspot.com",
    messagingSenderId: "715892663448",
    appId: "1:715892663448:web:9d600bcd31847980e35ced",
    measurementId: "G-W3RJE36TL7"
  };
  // Initialize Firebase
  firebase.initializeApp(firebaseConfig);
  firebase.analytics();
</script>
  
</body>

</html>
